# Configurações do Supabase
VITE_SUPABASE_URL=https://dewcpxfdszbmgrwnjegn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRld2NweGZkc3pibWdyd25qZWduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA4MDMxODcsImV4cCI6MjEwNjM3OTE4N30.XnYrNjYJrdBaDQkawc8waVgpMxLyV9SOp0kbyE7nhnk
